.pagina{
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }
.navegador{
    margin: 10px;
    padding: 5px;
    background-color: aliceblue;
}
.navegador1{
    margin: 10px;
  padding: 5px;
  background-color: aliceblue;
  }
.navegador2{
    margin: 10px;
    padding: 5px;
    background-color: aliceblue;
}
.navegador3{
    margin: 10px;
    padding: 5px;
    background-color: aliceblue;
}