* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 10px;
  }
  p {
    width: 80%;
  }
  #one {
    border-style: dotted;
    border-width: thick;
  }
   
  #two {
    border-style: dashed;
    border-width: medium;
  }
   
  #three {
    border-style: solid;
    border-width: 5px;
  }
   
  #four {
    border-style: double;
    border-width: 1rem;
  }
   
  #five {
    border-style: groove;
    border-width: .5cm;
  }
   
  #six {
    border-style: ridge;
    border-width: 1em;
  }
   
  #seven {
    border-style: inset;
    border-width: 5pt;
  }
   
  #eight {
    border-style: outset;
    border-width: thin;
  }
   
  #nine {
    border-style: none;
  }
   
  #ten {
    border-style: hidden;
  }
   
  #eleven {
    border-style: dotted dashed solid double;
    border-width: 10px .875rem ;
  }